
.menu-photo img{
    width:360px !important;
    height:267px !important;
}

.chef-member img{
    width:243px !important;
    height:350px !important;
}

.menu-home-page{
    color:#855858 !important;
}

